body{
    background: url('../images/baner.jpg') no-repeat 0 0;
    background-size: cover;
    background-attachment: fixed;
}
.heading{
    color: white;
}
.paraHeading{
    font-size: 25px;
    font-weight: bold;
}
.serve{
    background: rgba(42, 143, 16, 0.685);
}
.serve:hover{
    background: rgba(99, 165, 13, 0.788);
}
.btns{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.btns:hover{
    color: silver;
}
#footer{
    background-color: rgb(22, 139, 22);
    color: white;
    padding: 10px 0;
}